body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15;
    margin: 0;
}

h2{
    font-weight: bold;
}

.education-description{
    color:#E97777;
}

header h1{
    margin: 0;
}

.pink-color{
    background-color: #E97777;
}

.orange-color{
    background-color: #EDC373;
}

.white-text{
    color: #fff;
}

#menu a{
    text-decoration: none;
}
#menu li{
    list-style: none;
}